extends layout

block content

  if (!user)

    .container
      .row

        .col.s12.m6.offset-m3
          h3.center Login
          br
          form(role='form', action="/login",method="post" )
            .input-field
              input(type='email', name="username", placeholder='Email', value="")
            .input-field
              input(type='password', name="password", placeholder='Password', value="")
            .center
              button.btn.light-blue.darken-4(type='submit') Login



  if (user)

    .container
      .row
        for item in list
          .col.s12
            .card.grey.lighten-4
              .card-content
                p.flow-text #{item.TranscriptionText}
              .card-action
                a.waves-effect.waves-light.btn.playme.light-blue.darken-3(href=item.RecordingUrl,data-id=item.CallSid,target='_blank')
                  i.material-icons.left play_arrow
                  | Listen
                a.waves-effect.waves-light.btn.light-blue.darken-3(href='call/' + item.CallSid)
                  i.material-icons.left textsms
                  | Comment
                a.waves-effect.waves-light.btn.light-blue.darken-3.click-to-call-iq(data-call=item.From)
                  i.material-icons.left perm_phone_msg
                  | Call
                a.waves-effect.waves-light.btn.light-blue.darken-3(href='/webrtc')
                  i.material-icons.left videocam
                  | Video
        else
          li sorry, no records found!