doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/bower_components/materialize/dist/css/materialize.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
  body

    nav.light-blue.darken-3
      .nav-wrapper
        a.brand-logo.center(href='/')
          img(src='../images/logo.png', style='height: 58px')
        if (user)
          ul.right
            li
              a(href='/')
                i.material-icons search

            li
              a(href='/')
                i.material-icons view_module

            li
              a(href='/')
                i.material-icons refresh

            li
              a(href='/')
                i.material-icons more_vert

    //include templates/nav.html

    .container
      block content


    script(src='bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/materialize/dist/js/materialize.js')
    script(src='/javascripts/main.js')
