doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='../bower_components/materialize/dist/css/materialize.min.css')
    link(rel='stylesheet', href='../stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
  body

    nav.light-blue.darken-3
      .nav-wrapper
        a.brand-logo.center(href='/')
          img(src='../images/logo.png', style='height: 58px')
        if (user)
          ul#nav-right.right.hide-on-med-and-down
            li
              .chip.blue.darken-4.white-text
                img(src='#{grav}')
                | #{user.username}
            a.waves-effect.waves-light(href='requests.html')
              i.large.material-icons supervisor_account
            a.waves-effect.waves-light(href='feed.html')
              i.large.material-icons forum
            a.waves-effect.waves-light(href='skills.html')
              i.large.material-icons settings
            a(href="/logout").btn.light-blue.darken-4 Logout
        else
          ul#nav-right.right.hide-on-med-and-down
            a(href="/").btn.light-blue.darken-4 Login
            a(href="/register").btn.light-blue.darken-4 Join


    .container
      block content


          //#log

    script(src='../bower_components/jquery/dist/jquery.js')
    script(src='../bower_components/materialize/dist/js/materialize.js')
    script(src='../javascripts/main.js')
  if (user)
    script(src='https://media.twiliocdn.com/sdk/js/client/v1.3/twilio.min.js')
    script(src='../javascripts/voiceclient.js')