doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/bower_components/materialize/dist/css/materialize.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
  body

    nav.light-blue.darken-3
      .nav-wrapper
        a.brand-logo.center(href='/')
          img(src='../images/logo.png', style='height: 58px')
        if (user)
          ul.right
            li
              a(href='/')
                i.material-icons search

            li.hide-on-med-and-down
              a(href='/')
                i.material-icons view_module

            li.hide-on-med-and-down
              a(href='/')
                i.material-icons refresh

            li
              a(href='/')
                i.material-icons more_vert
    if (user)
      ul#slide-out.side-nav.hide-on-med-and-down.z-depth-0.grey.lighten-5(style='transform: translateX(0px); ')
        li.light-blue.darken-3
          .userView
            //img.background(src='images/office.jpg')
            a(href='#!user')
              img.circle(src='#{grav}')
            a(href='#!name')
              span.white-text.name Email: #{user.username}
            a(href='#!email')
              span.white-text.email Key: #{user.id}
        li
          a(href='#!')
            i.material-icons cloud
            | First Link With Icon
        li
          a(href='#!') Second Link
        li
          .divider
        li
          a.subheader Subheader
        li
          a.waves-effect(href='#!') Third Link With Waves


    .container
      block content
    .container
      .row
        .col.s12#controls
          #info
            p.instructions Twilio Client
            #client-name
          #call-controls
            p.instructions Make a Call:
            input#phone-number(type='text', placeholder='Enter a phone # or client name')
            button#button-call Call
            button#button-hangup Hangup
          #log


    script(src='bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/materialize/dist/js/materialize.js')
    script(src='https://media.twiliocdn.com/sdk/js/client/v1.3/twilio.min.js')
    script(src='/javascripts/main.js')
