
    <div class="container">
        <ul class="collection">
            <li class="collection-item avatar">
                <a href="#"><i class="material-icons circle light-blue darken-4">play_arrow</i></a>
                <span class="title">Title</span>
                <p>First Line <br>
                    Second Line
                </p>
                <a href="#!" class="secondary-content"><i class="material-icons">call_made</i></a>
            </li>
            <li class="collection-item avatar">
                <a href="#"><i class="material-icons circle light-blue darken-4">play_arrow</i></a>
                <span class="title">Title</span>
                <p>First Line <br>
                    Second Line
                </p>
                <a href="#!" class="secondary-content"><i class="material-icons">call_received</i></a>
            </li>
            <li class="collection-item avatar">
                <a href="#"><i class="material-icons circle light-blue darken-4">play_arrow</i></a>
                <span class="title">Title</span>
                <p>First Line <br>
                    Second Line
                </p>
                <a href="#!" class="secondary-content"><i class="material-icons">call_received</i></a>
            </li>
            <li class="collection-item avatar">
                <a href="#"><i class="material-icons circle light-blue darken-4">play_arrow</i></a>
                <span class="title">Title</span>
                <p>First Line <br>
                    Second Line
                </p>
                <a href="#!" class="secondary-content"><i class="material-icons">call_received</i></a>
            </li>
        </ul>


    </div>
